# Entorno virtual
venv/
ENV/
env/
.env
.env*

# Archivos de Python compilados
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de configuración de editores
.vscode/
.idea/
*.swp

# Archivos de logs o temporales
*.log
*.tmp
*.bak

# Archivos de bases de datos locales (opcional)
*.sqlite3

# Archivos de sistemas operativos
.DS_Store
Thumbs.db

.coverage
htmlcov/

repomix-output.xml
.pytest_cache